* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: bisque;
}

.continer {
    text-align: center;
    max-width: 550px;
    padding: 20px;
}


.screen h1 {
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
    background: linear-gradient(to right, blue, orange, black);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.screen p {
    font-size: 1.1rem;
    color: purple;
    font-weight: 1000;
    padding-bottom: 1.5rem;
}

.screen .btn {
    padding: 9px;
    width: 110px;
    font-weight: 700;
    border-radius: 9px;
    outline: none;
    border: 2px solid blueviolet;
    background-color: transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.screen .btn:hover {
    background-color: blueviolet;
    color: white;
}

.screen {
    display: none;
}

.screen.active {
    display: block;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 1rem;
}

.quiz-header .current p {
    float: left;
    padding-top: 1rem;
}

#current_qs,
#total_qs {
    color: blue;
}

.question-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
}

.question-list button {
    background-color: rgb(156, 127, 92);
    padding: 7px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 1rem;
    transition: 0.4s all;
}

.question-list button:hover {
    background-color: rgb(189, 170, 147);
}

.screen .question-list button.correct {
    background-color: rgb(27, 120, 27);
}

.screen .question-list button.incorrect {
    background-color: rgb(177, 52, 52);
}

.progess {
    margin-top: 1rem;
    height: 5px;
    background-color: rgb(29, 27, 27);
    width: 100%;
    border-radius: 2rem;
}

.progess-increase {
    background-color: green;
    width: 0%;
    height: 5px;
    border-radius: 1rem;
    transition: width 1s ease-in-out;
}

.screen h4 {
    font-size: 1.2rem;
    padding: 5px;
    text-align: center;
    border-radius: 1rem;
}

.score-board {
    padding: 5px;
    border-radius: 1rem;
    background-color: bisque;
}

.screen p {
    color: red;
    padding-top: 10px;
    font-size: 1.2rem;
    padding: 15px;
}

.screen #reset_btn {
    margin-top: 10px;
    padding: 9px;
    width: 110px;
    border-radius: 9px;
    outline: none;
    border: 1px solid orange;
    cursor: pointer;
    transition: 0.5s all;
}

.screen #reset_btn:hover {
    background-color: orange;
}

.screen h4 p {
    padding-top: 1rem;
    font-size: 2rem;
}